body {
    font-family: Calibri, Noto Sans, DejaVu Sans;
    font-size: 14px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 1024px;
}

.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.title img {
    max-width: 100%;
}

h1 {
    margin: 0px 5px 20px 5px;
}

.fg {
    background-color: #F7F7F7;
}

.doc-photo {
    float: right;
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
}

.album {
    display: inline-block;
    border: 3px solid black;
    background: #fae1ed;
}

.album img {
    width: 10%;
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
}

.box {
    margin: 0;
}

.title {
    vertical-align: middle;
    font-size: 50px;
    padding: 20px 20px 20px 20px;
}

.nav {
    background-color: darkblue;
}

.nav > a {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
}

.nav > a:hover {
    background-color: lightblue;
}

.main {
    padding: 0;
    width: 100%;
    display: table;
}

.main-row {
    display: table-row;
}

.main-row > div {
    display: table-cell;
}

.timeline {
    background-color: #f2ee94;
    color:#121211;
    width: 30%;
    min-height: 100%;
    display: table;
    padding: 20px 20px 20px 20px;
}

.timeline-row {
    display: table-row;
}


.timeline-line {
    display: table-cell;
    min-width: 5px;
    background-color: #838383;
}

.timeline-content {
    display: table-cell;
}

.timeline-content :last-child {
    margin: 0px 10px 0px 10px;
}

.entry:before {
    content: '';
    display:inline-block;
    float: left;
    vertical-align: -50%;
    position: relative;
    left: -26px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DFCDFF;
    border: 3px solid #8E3EFF;
}

.entry {
    margin: 0px 10px 30px 10px;
    vertical-align:middle;
    position: relative;
    font-weight: bold;
    height: 20px;
}

.content {
    padding: 20px 20px 20px 20px;
    border-left: none;
}

.footer {
    display: flex;
    align-items: stretch;
    padding: 20px 20px 20px 20px;
    border-bottom: none;
}

.footer > div {
    padding : 10px 10px 10px 10px;
    margin: auto auto auto auto;
    overflow: auto;
    max-height: 150px;
    min-height: 150px;
    max-width: 30%;
    min-width: 30%;
}

@media only screen and (max-width: 700px) {

    .fg {
        width: 100%;
    }

    .footer {
        display: block;
    }
    
    .footer > div {
        max-width: 100%;
        max-height: 100%;
    }

    .main {
        display: block;
    }
    .main-row {
        display: block;
    }
    .main-row > div {
        display: block;
    }
    .timeline {
        width: inherit;
    }

    .content {
        border-left: 1px solid black;
    }
}
